<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View User</title>
</head>
<body>
    <h2 class="text-center">Ninja {{ninja.id}}</h2>
    <p>Full Name {{ninja.full_name()}}</p>
    <p>age: {{ninja.age}}</p>

    <p>Created ON: {{ninja.created_at.strftime("%b %d %Y")}}</p>
    <p>Last Updated: {{  ninja.updated_at.strftime("%b %d %Y")}}</p>
    <a href="/dojo/{{ninja.dojo_id}}" class="btn btn-success">Go Back</a>

</body>
</html>