<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Dojo Survey</title>
</head>
<body>
    <form action="/process" method="post" class="bg-dark bg-gradient p-4 rounded col-6 mx-auto mt-4">
        <h1 class="text-center text-warning">Dojo Survey</h1>
        <div class="form-group text-white">
                <div>
                    <label for="name">Name</label>
                    <input type="text" name="name" class="form-control">
                </div>

                <div>
                    <label for="location">Dojo Location</label>
                    <select name="location" id="location" class="form-control">
                        <option value="select">---SELECT---</option>
                        <option value="Seattle">Seattle</option>
                        <option value="Bellevue">Bellevue</option>
                        <option value="Chicago">Chicago</option>
                        <option value="Burbank ">Burbank</option>
                        <option value="Online">Online</option>
                    </select>
                </div>

                <div>
                    <label for="language">Favorite Language</label>
                    <select name="language" class="form-control">
                        <option value="Python">Python</option>
                        <option value="Mern">Mern</option>
                        <option value="C++">C++</option>
                        <option value="Java ">Java</option>
                    </select>
                </div>

                <div>
                    <label for="comments">Comments:</label>
                    <textarea name="comments" cols="40" rows="10" class="form-control"></textarea>
                </div>

            <input type="submit" value="Submit" class="btn btn-primary mt-3">
        </div>
    </form>

</body>
</html>